* {
    box-sizing: border-box;
}
input::-webkit-inner-spin-button {
    display: none;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #fff;
}
:hover::-webkit-scrollbar-thumb {
    background: #1fcecb;
}
::-webkit-resizer:horizontal {
    height: 10px;
}
html {
	padding:0;
	margin:0;
	background-color: #FFF;
	color: #7b3f00;
	font-family: "Times New Roman", sans-serif;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: oblique;
}
button:active, button:focus, input:active, input:focus {
    outline: none !important;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 !important;
}
button:hover{
    box-shadow: inset 0 0 0 1.5px #7b3f00;
    background-color: #FFF;
}
button{
    font-family: "Times New Roman", serif;
    font-weight: 700;
    font-stretch: semi-condensed;
    font-style: oblique;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s linear;
    border: none;
    color: #7b3f00;
    background-color: #FFFDF4E3;
}
a {
    text-decoration: none;
    color: #7b3f00;
}
input{
    border: 1px ridge #7b3f00;
    color: #7b3f00;
    margin: 3px 16px;
    font-size: 20px;
    width: 80%;
    padding: 10px 10px 10px 25px;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
    width: 100%;
}
nav .container .nav_logo{
    height: min-content;
    width: min-content;
    padding: 10px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CCC;
}
.container{
    background-color: #FFFDF4E3;
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}
.container .nav_menu{
    flex-grow: 1;
}
.container .nav_login_logout{
    /* flex-grow: 1; */
}

main .container{
    padding: 15px;
    height: -webkit-fill-available;
}
.nav_menu ul{
    list-style: none;
    display:flex;
    align-items: center;
}
.nav_menu > ul > li{
    padding: 9px 0;
    width: 180px;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.nav_menu > ul > li:hover{
    display: block;
    border: 1px solid #7b3f00;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-top-left-radius: 100% 10px;
    border-bottom-right-radius: 100% 10px;
    -webkit-transition: .3s ease-in-out;
}
.nav_menu li a{
    color: #7b3f00;
    display: block;
    background: #FFF;
    border: 1px solid #7b3f00;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.nav_menu li a:hover{
    border-top-left-radius: 100% 10px;
    border-bottom-right-radius: 100% 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background: #1fcecb;
}
.nav_menu li li{
    width: 180px;
}
.nav_menu li .second{
    position: absolute;
    display: block;
    top: 100%;
    left: -23%;
    opacity: 0;
    transition: .5s ease-in-out;
}
.nav_menu li:hover .second{
    display: block;
    opacity: 1;
    transition: .3s ease-in-out;
}
.nav_menu li li .third{
    display: none;
    opacity: 0;
    transition: .3s ease-in-out;
}
.nav_menu li li:hover .third{
    display: block;
    opacity: 1;
    transform: scaleY(1);
}
.nav_user_name span{
    font-family: "Times New Roman", serif;
    font-size: 28px;
    font-stretch: semi-condensed;
    font-style: oblique;
    width: fit-content;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s linear;
    border: none;
    color: #1fcecb;
    height: 25px;
}
.nav_login_logout button{
    min-height: 30px;
    width: 75px;
    font-size: 25px;
}
.registrButton div{
    display: inline;
}
.registrButton button{
    height: 35px;
}
.rf, #lf{
    padding:15px 0;
}
#lf p{
    margin: 0 auto;
}
.container .rf{
    flex-grow: 0;
}
.row{
    padding: 10px;
    margin:0 -10px;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #7b3f00d9;
    z-index: 99999;
    -moz-transition: opacity 400ms ease-in;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    text-align: center;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fffdf4;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#loginWindow{
    margin: 10px;
}

#loginWindow form{
    display: inline-grid;
}

#registrWindow form{
    display: inline-grid;
}

.windowTitle{
    font-size: 36px;
    margin: 5px;
}

#loginFormMessage{
    margin: 20px;
    color: red;

}
.modalDialogButton{
    height: 35px;
    margin: 10px 10px;
    width: auto;
    font-size: 25px;
}


#registrFormMessage{
    margin: 20px;
    color: red;
}

.hidden{
    display: none;
}

.table {
    width: -webkit-fill-available;
    width: -moz-available;

}
.table caption {
    background: #1fcecb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: #fffdf4;
    font-size: 28px;
    text-align: center;
    margin: 0;
}
.table tr th tr{
    text-align: left;
    font-size: 2px;
}
.table td,  .table th{
    padding: 10px;
}
.table th {
    text-align: left;
    font-size: 22px;
}
.table tr:nth-child(2n) {
    background: #E5E5E5;
}
.table th:nth-child(n + 2) {
    text-align: center;
}
.table button {
    height: 25px;
}
/*.table tr td .table */
.unvisible{
    opacity:0;
    transition: .3s linear;
}
.visible{
    opacity:1;
    transition: .3s linear;
}

